<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paseo Feliz - Servicios</title>
    <link rel="icon" href="../../assets/images/logo.png" type="image/png">

    <link rel="stylesheet" href="../../css/principal_css/global.css">
    <link rel="stylesheet" href="../../css/principal_css/paseos.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>

    <div id="contenedor_general" class="app-container">

        <nav class="sidebar">
            <div class="menu-hamburguesa-container">
                <div class="profile-circle" id="btn-menu">
                    <i class="fas fa-bars"></i>
                </div>

                <nav class="menu-desplegable" id="menu-latente">
                    <ul>
                        <li><i class="fas fa-camera"></i> <span>Conocenos</span></li>
                        <li><i class="fas fa-book-open"></i> <span>Direccion oficial</span></li>
                        <li><i class="fas fa-sliders-h"></i> <span>Centro de Ayuda</span></li>
                        <li><i class="fas fa-gear"></i> <span>Configuracion</span></li>
                        <li><i class="fas fa-user-minus"></i> <span>Cerrar sesion</span></li>
                    </ul>
                </nav>
            </div>

            <ul class="nav-links">
                <li class="active">
                    <a href="#">
                        <i class="fas fa-paw"></i>
                        <span>Servicios</span>
                    </a>
                </li>
                <li>
                    <a href="chat.html">
                        <i class="far fa-comment-alt"></i>
                        <span>Chat</span>
                    </a>
                </li>
                <li>
                    <a href="mapa.html">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Mapa</span>
                    </a>
                </li>
                <li>
                    <a href="adopcion.html">
                        <i class="fas fa-bone"></i>
                        <span>Adopción</span>
                    </a>
                </li>
                <li>
                    <a href="usuario.html">
                        <i class="fas fa-user"></i>
                        <span>Usuario</span>
                    </a>
                </li>
            </ul>
        </nav>
</head>
<body>
    
</body>
</html>